.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background-color: #b58ecc;
  border: 1px solid #E4BAD4;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 40px;
  color: #333;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-btn:hover {
  background-color: #ed6dfb;
}

.show {
  bottom: 30px;
  pointer-events: auto;
  opacity: 1;
}

body {
  height: 100%;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
}

#menu {
  top: 0;
  width: 100%;
  position: fixed;
  padding: 0 25px;
  font-size: 35px;
  font-family: "Alex Brush", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #b58ecc;
  z-index: 1;
}

#menu .name {
  cursor: pointer;
  line-height: 76px;
}

#menu .menu_content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .menu_content .nav_item {
  padding-left: 5px;
  cursor: pointer;
}

#menu .menu_content a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding-right: 10px;
}

#menu .menu_content a:hover {
  text-decoration: none;
  color: #000;
}

#menu .menu_content a:hover::before {
  opacity: 1;
}

#menu .menu_content a::before {
  opacity: 0;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #5de6de;
  border-radius: 100%;
  z-index: -1;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#menu .menu_mobile {
  position: relative;
  display: none;
}

#menu .menu_mobile .fix-item {
  line-height: 76px;
}

#menu .menu_mobile .menu_mobile_content {
  position: absolute;
  background-color: #b58ecc;
  top: 100px;
  right: 10px;
  width: 200px;
  text-align: center;
}

#menu .menu_mobile .menu_mobile_content::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #b58ecc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -8px;
  right: 8px;
}

#menu .menu_mobile a {
  text-decoration: none;
  margin-right: 12px;
  color: #000;
}

#top {
  margin-top: 150px;
}

#top .tytle {
  font-size: 30px;
  font-family: "Alex Brush", cursive;
  margin: auto;
  text-align: center;
}

#top .css-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5%;
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
}

#about p {
  font-size: 20px;
}

#about p span {
  position: relative;
}

#about p span::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  right: 82px;
}

#about p span::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 22px;
  left: 82px;
}

#about .avatar {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px;
          box-shadow: 2px 2px 2px;
}

#about .about-right {
  font-family: "Alex Brush", cursive;
}

#about .about-right dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .about-right dl dt {
  width: 15%;
}

#about .about-right dl dd {
  width: 85%;
}

#skill .title_skill p {
  font-size: 20px;
}

#skill .title_skill p span {
  position: relative;
}

#skill .title_skill p span::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  right: 106px;
}

#skill .title_skill p span::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 106px;
}

#skill .sakura_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skill .sakura_line .sakura_img {
  background-image: url(../img/hoathinh.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: auto;
}

#skill .skill_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

#skill .skill_content .skill_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

#skill .skill_content .skill_left .icon_img {
  width: 40px;
  height: auto;
}

#skill .skill_content .skill_right {
  width: 60%;
}

#skill .skill_content .skill_right .skill_line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15px;
  background: #e4bad4;
  position: relative;
  border-radius: 5px;
}

#skill .skill_content .skill_right .skill_line::before {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #558776;
}

#skill .skill_content .skill_right .skill_line::before {
  width: 90%;
}

#skill .skill_content .skill_right .css::before {
  width: 80%;
}

#skill .skill_content .skill_right .scss::before {
  width: 80%;
}

#skill .skill_content .skill_right .js::before {
  width: 60%;
}

#skill .skill_content .skill_right .java::before {
  width: 50%;
}

#skill .skill_content .skill_right .php::before {
  width: 60%;
}

#works .works_tytle p {
  font-size: 20px;
}

#works .works_tytle p span {
  position: relative;
}

#works .works_tytle p span::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  right: 128px;
}

#works .works_tytle p span::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 128px;
}

#works .item {
  margin: 10px;
  position: relative;
  overflow: hidden;
}

#works .item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 300px;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

#works .item .gt {
  position: absolute;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e4bad4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

#works .item:hover .gt {
  height: 20%;
}

#works .item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#contact .contact_tytle {
  padding-bottom: 50px;
}

#contact .contact_tytle p {
  font-size: 20px;
}

#contact .contact_tytle p span {
  position: relative;
}

#contact .contact_tytle p span::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  right: 128px;
}

#contact .contact_tytle p span::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 128px;
}

#contact .contact-right .contact-info .info-icon {
  width: 15%;
}

#contact .contact-left .fix-boder {
  border-radius: 100%;
}

#contact .contact-left .fix-boder .fix-width {
  width: 40%;
}

#contact .contact-left .css-btn {
  border: 2px solid #E4BAD4;
  background-color: #F8EDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
}

#contact .img_dep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer img {
  width: 20px;
  height: auto;
}

#footer .name {
  margin-left: 10px;
  font-family: "Alex Brush", cursive;
}

/*reponsive*/
@media only screen and (max-width: 48rem) {
  #top .css-img {
    text-align: center;
  }
  #top .css-img img {
    width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 5%;
    -webkit-box-shadow: 2px 2px 2px;
            box-shadow: 2px 2px 2px;
  }
}

@media only screen and (max-width: 36rem) {
  #menu .menu_content {
    display: none;
  }
  #menu .menu_mobile {
    display: block;
  }
  #menu .menu_mobile .menu_mobile_content {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */